* { box-sizing: border-box; }

html, body { min-height: 100svh; }

body {
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(216, 12%, 8%);
}

#rating-card {
  background-color: hsl(213, 19%, 18%);
  margin: 4%;
  padding: 25px;
  width: min(90%, 410px);
  height: 375px;
  border-radius: 18px;
  font-family: "Overpass", sans-serif;
}

#rating-card .circle-img {
  background-image: url('../images/icon-star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border-radius: 50%;
  background-color: hsl(213, 19%, 24%);
  padding: 15px;
  user-select: none;
  height: 45px;
  width: 45px;
}

#rating-card h1 {
  color: hsl(0, 0%, 100%);
}

#rating-card p {
  color: hsl(216, 12%, 54%);
  font-size: 15px;
}

#rating-card form {
  display: flex;
  justify-content: space-around;
  margin-bottom: 9%;
}

#rating-card input[type="button"] {
  background-color: hsl(213, 19%, 24%);
  color: hsl(217, 12%, 63%);
  border: none;
  border-radius: 160px;
  padding: 20px;
  width: 50px;
  height: 50px;
  line-height: 0px;
  font-weight: bold;
  font-size: 15px;
  user-select: none;
  transition: 0.25s;
}

#rating-card input[type="button"]:hover:not(.active) {
  background-color: hsl(217, 12%, 63%) ;
  color: white;
  cursor: pointer;
}

#rating-card form .active {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

#rating-card input[type="submit"] {
  width: 100%;
  border-radius: 22px;
  border: none;
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px;
  transition: 0.2s;
}

#rating-card input[type="submit"]:hover {
  color: hsl(25, 97%, 53%);
  background-color: white;
  cursor: pointer;
}

#rating-card input.disabled {
  opacity: 0.6;
  background-color: hsl(25, 97%, 33%);
  color: hsl(0, 0%, 70%);
}

#rating-card input.disabled:hover {
  cursor: not-allowed;
  background-color: hsl(25, 97%, 33%);
  color: hsl(0, 0%, 70%);
}

#thank-you-card {
  background-color: hsl(213, 19%, 18%);
  margin: 4%;
  padding: 25px;
  width: min(90%, 410px);
  height: 375px;
  border-radius: 18px;
  font-family: "Overpass", sans-serif;
  text-align: center;
  display: none;
}

#thank-you-card img {
  margin: auto;
  display: block;
  padding-bottom: 5%;
}

#output {
  background-color: hsla(30, 19%, 24%, 0.25);
  padding: 9px 7px 7px 7px;
  margin: auto;
  width: calc(100% - 25%);
  border-radius: 50px;
  color: hsl(25, 97%, 53%);
}

#thank-you-card h1 {
  color: hsl(0, 0%, 100%);
}

#thank-you-card p {
  color: hsl(216, 12%, 54%);
  font-size: 15px;
}

.attribution { 
  font-size: 11px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 10px;
}

.attribution a {color: hsl(228, 45%, 44%);}