* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  min-height: 100vh;
}

body {
  background-color: hsl(275, 100%, 97%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/images/background-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.faq-card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 520px;
  width: 100%;
  height: 500px;
  padding: 20px;
  border-radius: 15px;
  margin: 5%;
  font-family: "Work Sans", sans-serif;
}

.faq-card h1 {
  color: hsl(292, 42%, 14%);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px
}

.faq-card h1::before {
  background-image: url('../assets/images/icon-star.svg');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  width: 30px;
  height: 30px;
  padding-left: 5%;
}

.faq-card summary {
  color: hsl(292, 42%, 14%);
  font-weight: 600;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.faq-card summary img {
  margin-left: 4%;
}

.faq-card summary::-webkit-details-marker {
  display: none;
}

.faq-card summary:hover {
  color: hsl(292, 100%, 50%);
  cursor: pointer;
}

.faq-card summary:focus {
  color: hsl(292, 100%, 50%);
  outline: hsl(292, 100%, 75%);
  outline-width: 2px;
  outline-offset: 5px;
  outline-style: solid;
  border-radius: 5px;
}

.faq-card p {
  color: hsl(292, 16%, 49%);
  font-weight: 400;
  margin: 5% 0%;
}

details {
  margin: 10% 0%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.attribution a {color: hsl(228, 45%, 44%);}

@font-face {
  font-family: Work Sans;
  font-weight: 400;
  src: url(../assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
  font-family: Work Sans;
  font-weight: 600;
  src: url(../assets/fonts/static/WorkSans-SemiBold.ttf);
}

@font-face {
  font-family: Work Sans;
  font-weight: 700;
  src: url(../assets/fonts/static/WorkSans-Bold.ttf);
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url('../assets/images/background-pattern-desktop.svg');
  }

  .faq-card {
    margin: 0%;
    height: 570px;
  }
  
  .faq-card h1 {
    font-size: 50px;
  }

  .faq-card h1::before {
    width: 30px;
    height: 30px;
  }
}