* {
  box-sizing: border-box;
  margin: 0%;
}

html,body {min-height: 100svh;}

body {
  background-color: hsl(47, 88%, 63%);
  margin: 0;
  box-sizing: border-box; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: hsl(0, 0%, 100%);
  max-width: 320px;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;
  font-family: "Figtree", sans-serif;
  color: hsl(0, 0%, 7%);
  box-shadow: 7px 7px hsl(0, 0%, 7%);
  transition: 0.4s ease-out;
  margin: 5% 5%;
}

.card:hover {
  box-shadow: 15px 17px hsl(0, 0%, 7%);
  transform: scale(1.015);
}

.card div {
  margin-top: 5%;
}

.card img {
  border-radius: 13px;
}

.card .text {
  font-weight: 800;
  background-color: hsl(47, 88%, 63%);
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 5px;
}

.card .date {
  font-size: 13px;
}

.card h1 {
  font-size: 23px;
  font-weight: 800;
}

.card h1:hover {
  cursor: pointer;
  color: hsl(47, 88%, 63%);
}

.card p {
  color: hsl(0, 0%, 50%);
}

.card .footer img {
  vertical-align: middle;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5%;
  position: fixed;
  bottom:10px;
}
